<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
   <header>
        <h1>
            <a href="{%url 'index'%}">Elite Schoool</a>
        </h1>
   </header>
   <main>
        {%block content%}
        <form action= "{% url 'registrarUsuario'%}" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Entrar</button>
            <input type="hidden" name="next" value="{%url 'index'%}"/>
        </form>
        {%endblock content%}
   </main>
</body>
</html>
